# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next
out
build
dist

# Production
build

# Misc
.DS_Store
*.pem
.env
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# PWA files
**/public/workbox-*.js
**/public/sw.js

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage
.nyc_output

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
*.log
.turbo
